@charset "UTF-8";

.leftSection {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 300;
    transition: left 0.3s ease; /* 애니메이션 효과 추가 */
}

.innerLeft {
	display: flex;
	flex-direction:column;
	align-items: center;
    width: 285px;
    height: 100%;
    background-color: #353535;
}
.innerLeft > section:not(:first-child) section:not(:first-child){
	cursor:pointer;
}
.innerLeft > section:not(:first-child) section:hover:not(:first-child){
	color:#dc3545;
}

.innerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer; /* 클릭 가능한 요소로 변경 */
}

.innerContent{
	display:none;
	flex-direction:column;
	background-color:rgba(0,0,0,0.9);
}

.innerContent > section:first-child{
	display: flex;
	height:50px;
	border-bottom:1px solid #3f3f3f;
	color:#909090;
	width:100%;
}
.innerContent .boardCO, .innerContent .boardTitle{
	display: flex;
	justify-content:center;
	align-items:center;
}
.innerContent .boardCO{
	width:50px;
	height:100%;
	font-size: 1.5rem;
	cursor:pointer;
	
}
.innerContent .boardCO:hover{
	color:#dc3545;
}
.innerContent .boardTitle{
	flex:1;
	font-weight:700;
	height:100%;
}

.innerContent > section:last-child{
	padding:70px 0;
	flex:1;
}

.innerContent .boardSection{
	width:95%;
	height:100%;
	margin:0 auto;
}

.innerRight:hover {
    background-color: #464646;
}

.searchSection, .itemSection, .memberSection, .noticeSection{
	width:90%;
	border:1px solid #818181;
	border-radius: 10px;
	margin-top:20px;
	padding:10px 0;
	color:#c7c7c7;
}

.leftSectionContent, .leftSectionTitle{
	padding:10px 0;
}

.leftSectionTitle{
	padding-left:10px;
	font-weight:700;
	border-bottom:1px solid #5b5b5b;
}

.leftSectionContent{
	padding-left:25px;
	border-bottom:1px dotted #5b5b5b;
}

.itemFnTitle, .itemFnButton, .item-line{
	display:flex;
	justify-content:center;
	align-items:center;
	color:#dcdcdc;
	height:50px;
	border-top:1px solid #313131;
	border-bottom:1px solid #313131;
	background-color:#202020;
}
.itemFnButton{
	background-color:unset;
	border-top:0;
	border-bottom:0;
	justify-content:flex-start;
}
.itemFnTitle section, .item-line section{
	text-align:center;
	width:150px;
	box-sizing:border-box;
}
.itemFnButton section{
	border:1px solid #313131;
	padding:5px 10px;
	margin:0 10px;
	background-color:#000000;
	border-radius:10px;
	cursor:pointer;
}
.itemFnTitle .item-check,
.itemFnTitle .item-img,
.item-line .item-check,
.item-line .item-img{
	width:50px;
}
.item-line .item-name{
	text-align:left;
	padding-left:10px;
}

.item-list-wrapper{
	margin-top:10px;
	overflow-y:scroll;
}

.itemFnButton section:hover{
	color:var(--bs-orange);
}
.itemFnTitle section:not(:last-child),
.item-line section:not(:last-child){
	border-right:1px solid #313131;
}
form.search-form-modal{
	width:100%;
	height:100%;
}
form.search-form-modal input.search-input{
	all:unset;
	padding-left:0;
	width:100%;
	height:100%;
}

.item-brand, .item-registration-date, .item-modify-date{
	width:200px;
}

.item-option{
	width:300px;
}

.itemFnTitle .scroll-area{
	width:15px;
}
.itemFnTitle section.item-name,
.item-line section.item-name{
	flex:1;
}
.item-line{
	background-color:#121212;
	height:40px;
	font-weight:200;
}
.itemFnTitle .standard,
.item-line .standard{
	width:250px;
}
.item-line .standard,
.item-registration-date,
.item-modify-date{
	font-size:0.75rem;
}
.item-line:not(:last-child){
	border-bottom:0;
}

@media screen and (max-width: 2100px) {
    .leftSection {
        left: -285px; /* 초기에 들어가 있는 상태 */
    }
}
