@charset "UTF-8";
:root{
	--body-black:#000000;
	--body-background-dark:#1a1a1a;
	--box-background-1e1e1e:#1e1e1e;
	--border-393939:#393939;
	--border-393939:#333333;
	--border-2c2c2c:#2c2c2c;
	--border-494949:#494949;
	--icon-5c5c5c:#5c5c5c;
	--text-color-gray:#a2a2a2;
}